@page "/users/details/{Id:guid}"
@inject NavigationManager Navigation;

<h3>View User</h3>

<p>
    @user.FirstName
</p>

@code {

    [Parameter]
    public Guid Id { get; set; }
    private User user;

    protected override void OnInitialized()
    {
        if (App.Users.ContainsKey(Id))
            user = App.Users[Id];
        else
            Console.WriteLine("Item does not exist");

    }

}
