@page "/tickets/edit/{Id:guid}"
@inject NavigationManager Navigation;

<h3>Edit Ticket</h3>

<EditForm Model="ticket" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label class="control-label">Name</label>
        <ValidationMessage For="@(() => ticket.Name)" />
        <InputText @bind-Value="@ticket.Name"></InputText>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>


</EditForm>

@code {

    [Parameter]
    public Guid Id { get; set; }
    private Ticket ticket;

    protected override void OnInitialized()
    {
        if (App.Tickets.ContainsKey(Id))
            ticket = App.Tickets[Id];
        else
            Console.WriteLine("Item does not exist");

    }

    private void HandleValidSubmit()
    {
        App.Tickets[Id] = ticket;
        Navigation.NavigateTo("/tickets");
    }

}
