@page "/tickets"


<h3>List of tickets</h3>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Read</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in App.Tickets)
            {
                <tr>
                    <td>
                        @(ticket.Value.Name)
                    </td>
                    <td>
                        <a href="/tickets/details/@ticket.Key">Details</a>
                    </td>
                    <td>
                        <a href="/tickets/edit/@ticket.Key">Edit</a>
                    </td>
                    <td>
                        <a href="/tickets/delete/@ticket.Key">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
        
    </table>
</div>


<p>
    <a class="btn btn-primary" href="/tickets/create">Create</a>
</p>

@code {



}
