@page "/projects/create"
@inject NavigationManager Navigation;

<h3>Create a new Project</h3>

<EditForm Model="project" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label class="control-label">Name</label>
        <ValidationMessage For="@(() => project.Name)" />
        <InputText @bind-Value="@project.Name"></InputText>
    </div>



    

    <button class="btn btn-primary" type="submit">Submit</button>


</EditForm>

@code {

    private Project project = new Project();

    private void HandleValidSubmit()
    {
        var projectGuid = Guid.NewGuid();
        App.Projects.Add(projectGuid, project);
        Navigation.NavigateTo("/projects");
    }

}
