@page "/projects/edit/{Id:guid}"
@inject NavigationManager Navigation;

<h3>Edit Project</h3>

<EditForm Model="project" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label class="control-label">Name</label>
        <InputText @bind-Value="@project.Name"></InputText>
        <ValidationMessage For="@(() => project.Name)" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>


</EditForm>

@code {

    [Parameter]
    public Guid Id { get; set; }
    private Project project;

    protected override void OnInitialized()
    {
        if (App.Projects.ContainsKey(Id))
            project = App.Projects[Id];
        else
            Console.WriteLine("Item does not exist");

    }

    private void HandleValidSubmit()
    {
        App.Projects[Id] = project;
        Console.WriteLine($"Edited todo with id: {Id}");
        Navigation.NavigateTo("/projects");
    }

}
