@page "/projects/details/{Id:guid}"
@inject NavigationManager Navigation;

<h3>View Project</h3>

<p>
    @project.Name
</p>

@code {

    [Parameter]
    public Guid Id { get; set; }
    private Project project;

    protected override void OnInitialized()
    {
        if (App.Projects.ContainsKey(Id))
            project = App.Projects[Id];
        else
            Console.WriteLine("Item does not exist");

    }

}
