@page "/companies/create"
@inject NavigationManager Navigator;
@inject ICompanyModel CompanyModel
@inject MudBlazor.ISnackbar snackBar


<h3>Create a new Company</h3>

<EditForm Model="company" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Name" HelperText="Max. 8 characters"
                          @bind-Value="company.Name" For="@(() => company.Name)" />
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
        </MudCardActions>
    </MudCard>


</EditForm>

@code {

    private Company company = new Company();


    protected async void HandleValidSubmit()
    {
        CompanyModel.SaveCompany(company);
        company = new Company();
        snackBar.Add("Customer Saved.", Severity.Success);
    }


}
