@page "/companies"

@inject NavigationManager Navigator

@inject CompanyService CompanyService

<MudPaper Class="pa-10 ma-2" Elevation="3">
    <MudText Class="ma-2" Typo="Typo.h3">Companies</MudText>
    <MudDivider />
    <MudGrid Class="pa-10 ma-2" Justify="Justify.FlexStart">
        @foreach (var company in App.Companies)
        {
            var id = company.Key;
            <MudItem xs="3">
                <MudCard Class="pa-2" Elevation="25">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@company.Value.Name</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudDivider />
                    <MudCardContent>
                        <MudText>This day everything happend.</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <a href="/companies/details/@company.Key">
                            <MudButton Class="pa-2 ma-2" Variant="Variant.Filled" Label="View">View</MudButton>
                        </a>
                        <a href="/companies/edit/@company.Key">
                            <MudFab Class="pa-2 ma-2" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
                        </a>
                        <a href="/companies/delete/@company.Key">
                            <MudFab Class="pa-2 ma-2" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
                        </a>

                    </MudCardActions>
                </MudCard>
            </MudItem>
        }

    </MudGrid>
</MudPaper>

@code {

    private Company[] companies;

    protected override async void OnInitialized()
    {
        companies = await CompanyService.GetCompanies();

    }

    private void navigateTo(string path)
    {
        Navigator.NavigateTo(path);
    }


}
